@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Fira+Sans:ital,wght@1,100&family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', serif;
    margin: 0;
}

h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}

input, button {
    font-family: 'Fraunces', serif;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    width: 100%;
}